@import "tailwindcss";
.active {
  background: rgb(1, 76, 236);
  color: #ffff;
  border-radius: 1rem;
}
* {
  scrollbar-width: none;
  /* Safari and Chrome */
  &::-webkit-scrollbar {
    display: none;
  }
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
button {
  cursor: pointer;
}

input:focus {
  outline: 0.15em solid #ffc799;
}